n8n-workflows/ai-task-detection.json
{
  "name": "AI Task Detection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai/detect-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Detect Task",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ai-detect-task"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-text-length",
              "leftValue": "={{ $json.message.text.length }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filter: Valid Message",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "model": "mistralai/devstral-2512:free",
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a task detection assistant for an IT support team. Analyze messages from group chats and determine if they contain actionable tasks or requests.\n\nYou will receive the RECENT CHAT CONTEXT (last 20 messages) and the NEW MESSAGE. Use context to understand the situation better.\n\nRESPOND ONLY WITH JSON in this exact format:\n{\n  \"is_task\": true/false,\n  \"confidence\": 0-100,\n  \"task_data\": {\n    \"title\": \"Short task title in Russian (max 100 chars)\",\n    \"description\": \"Detailed description including context from chat\",\n    \"priority\": \"urgent|high|medium|low\",\n    \"due_date\": null or \"YYYY-MM-DD\"\n  },\n  \"reasoning\": \"Brief explanation why this is/isn't a task\"\n}\n\nTask indicators:\n- Direct requests (\"нужно\", \"сделай\", \"проверь\", \"настрой\")\n- Problem reports (\"не работает\", \"ошибка\", \"проблема\")\n- Questions requiring action (\"можно ли\", \"как сделать\")\n- Deadlines or urgency markers\n\nNOT tasks:\n- General discussions\n- Status updates without action needed\n- Greetings, small talk\n- Already completed items\n- Messages where the problem is already being resolved (check context)\n- Repeated mentions of the same issue already discussed\n\nCONTEXT RULES:\n- Use chat context to understand if the problem is new or already discussed\n- If the same issue was mentioned before in context, lower confidence\n- If context shows the issue is being resolved, set is_task=false\n- Include relevant context in the task description"
            },
            {
              "role": "user",
              "content": "=== RECENT CHAT CONTEXT (last 20 messages) ===\n{{ $json.context_messages || 'No context available' }}\n=== END CONTEXT ===\n\nNEW MESSAGE from chat \"{{ $json.chat.title }}\":\nFrom: {{ $json.user.name }} (@{{ $json.user.username }})\nMessage: {{ $json.message.text }}\n\n{{ $json.reply_to ? 'Reply to: ' + $json.reply_to.text : '' }}"
            }
          ]
        }
      },
      "id": "ai-analyze",
      "name": "AI: Analyze Message",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [690, 300],
      "credentials": {
        "openRouterApi": {
          "id": "openrouter-creds",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nconst aiResponse = $input.first().json.message.content;\nconst originalData = $('Webhook: Detect Task').first().json;\n\nlet parsed;\ntry {\n  let jsonStr = aiResponse;\n  if (aiResponse.includes('```json')) {\n    jsonStr = aiResponse.split('```json')[1].split('```')[0].trim();\n  } else if (aiResponse.includes('```')) {\n    jsonStr = aiResponse.split('```')[1].split('```')[0].trim();\n  }\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = {\n    is_task: false,\n    confidence: 0,\n    reasoning: 'Failed to parse AI response: ' + e.message\n  };\n}\n\n// All decisions delegated to bot (dedup, create, comment)\nlet action = 'ignored';\nif (parsed.is_task && parsed.confidence >= 75) {\n  action = 'auto_create';  // Bot handles dedup + create\n} else if (parsed.is_task && parsed.confidence >= 50) {\n  action = 'pending_confirmation';  // Bot shows buttons\n} else {\n  action = 'ignored';\n}\n\nreturn {\n  json: {\n    source: 'n8n_ai',\n    event_type: 'task_detection_result',\n    timestamp: new Date().toISOString(),\n    detection: {\n      is_task: parsed.is_task,\n      confidence: parsed.confidence,\n      task_data: parsed.task_data || null,\n      reasoning: parsed.reasoning\n    },\n    original_message: {\n      chat_id: originalData.chat.id,\n      message_id: originalData.message.message_id,\n      text: originalData.message.text,\n      user_id: originalData.user.id,\n      user_name: originalData.user.name\n    },\n    plane: originalData.plane,\n    action_taken: action\n  }\n};"
      },
      "id": "parse-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-not-ignored",
              "leftValue": "={{ $json.action_taken }}",
              "rightValue": "ignored",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-actionable",
      "name": "Filter: Not Ignored",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rd.hhivp.com:8083/webhooks/ai/task-result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.N8N_WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "callback-bot",
      "name": "Callback: Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processing', action: $json.action_taken }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 300]
    }
  ],
  "connections": {
    "Webhook: Detect Task": {
      "main": [
        [
          {
            "node": "Filter: Valid Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Valid Message": {
      "main": [
        [
          {
            "node": "AI: Analyze Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Analyze Message": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Filter: Not Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Not Ignored": {
      "main": [
        [
          {
            "node": "Callback: Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback: Bot": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "AI",
      "id": "ai-tag"
    },
    {
      "name": "Telegram Bot",
      "id": "telegram-tag"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
